{% extends 'base.html' %}

{% block head %}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/review.css')}}">

{% endblock %}

{% block content %}

<h1>Live Text Sentiment Analysis</h1>

<div id="word">
	<form action="/singlereview" method="POST" id="textForm">
		<label for="textinput">Enter the content you want to analyse:</label>
		<br>
		<textarea id="textinput" name="textinput" placeholder="Your text..." required>{{ textinput }}</textarea>
		<br>
		<button type="submit" onclick="scrollToBottom();showLoader()">Submit</button>
	</form>
</div>

{% if sentiment %}


	<!-- <script>
		function showLoader() {
			// Pokaż loader
			document.getElementById("container-loader-wrapper").style.display = "flex";
	
			// Ukryj loader po upływie `time` milisekund
			setTimeout(function() {
				document.getElementById("container-loader-wrapper").style.display = "none";
			}, {{ wait_time }});
		}
	
		// Wywołanie funkcji showLoader na załadowanie strony
		window.addEventListener("load", showLoader);
	</script> -->


	<!-- Sentiment classification result in a colored box -->
	<div class="language-box"><p style="font-weight: bold;">Detected language: {{ language }}</p>
	<p><strong>Text used in analysis: </strong><span id="score">{{ text }}</span></p>	
	</div>

	<div id="note">
	<p style="color: #575a57;">note: The distribution of words classified into specific categories
		will result in a neutral text if positive words balance out the negative ones, or if only neutral words are detected.</p>
	</div>

	<!-- Sentiment classification result in a colored box -->
	<div class="sentiment-box {{ sentiment|lower }}">
		<p>Your text was classified as: <strong>{{ sentiment }}</strong>.</p>
	</div>

	<h1 style="text-align: center;">Distribution of classified words</h1>

	<!-- Progress bars container -->
	<div class="progress-container">
		<div class="progress-bar" id="progress1">
			<div class="progress-bar-fill positive" id="fill1" data-height="{{ positive }}%">Positive</div>
		</div>
		<div class="progress-bar" id="progress2">
			<div class="progress-bar-fill negative" id="fill2" data-height="{{ negative }}%">Negative</div>
		</div>
		<div class="progress-bar" id="progress3">
			<div class="progress-bar-fill neutral" id="fill3" data-height="{{ neutral }}%">Neutral</div>
		</div>
	</div>


{% endif %}


<script>
	// Set heights of progress bars on load with animation
	window.addEventListener("load", function() {
		document.getElementById("fill1").style.height = document.getElementById("fill1").getAttribute("data-height");
		document.getElementById("fill2").style.height = document.getElementById("fill2").getAttribute("data-height");
		document.getElementById("fill3").style.height = document.getElementById("fill3").getAttribute("data-height");

		setTimeout(
            // Scroll to bottom function
            function scrollToBottom() {
                window.scrollTo({
                    top: document.body.scrollHeight,
                    behavior: 'smooth'
                });
            }
            ,300); // Delay scrolling
	});
</script>




{% endblock %}
