body{
	font-family: "Lato", system-ui;
    font-weight: 400;
    font-style: normal;
	min-height: 100vh;
	margin: 0;
	background-image: url("img/background.png");
    font-size: 1.3em;

    margin: 0px !important;
    color: #ffffff;
}



#logobackground{
	width: 100%;
	background-color: #010909;
	background-image: url("img/logobak.png");
}


#loadingad {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    max-width: 900px;
    height: 100px;
    padding: 0 3px;
    flex-shrink: 0; 
    margin-bottom: 3px;
	padding-bottom: 10px;
	max-height: 640px;
	max-width: 360px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 8vw; 
}

#bottomad{
	display: flex;
	justify-content: center;
    align-items: center;
	max-width: 900px;
	max-height: 100px;
	padding-bottom: 10px;
	max-height: 10vw;
	max-width: 90vw;
	margin-left: auto;
	margin-right: auto;
	flex-shrink: 0;

}

#bottomad img {
    width: 100%; 
    height: 100px; 
    object-fit: contain; 
}

#logo{
    height: 40px;    
	padding-bottom: 50px;
	padding: 10px 10px 60px 10px;
	margin-left: auto;
	margin-right: auto;
	width: 390px;
	background-color: #010909;
	-webkit-box-shadow: 0px 0px 60px 100px rgba(1, 9, 9, 1);
	-moz-box-shadow: 0px 0px 60px 100px rgba(1, 9, 9, 1);
	box-shadow: 0px 0px 60px 100px rgba(1, 9, 9, 1);
}

#logoimg{
	width: 75px;
	height: 75px;
	float: left;
}

.logolink
{
    text-decoration: none;
    color: #ffffff;
}

#logo h1{
	font-size: 30px;
	text-align: center;
	padding-left: 20px;
	font-weight: 600;
	letter-spacing: 1px;
	padding-top: 15px;
}

.sticky
{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	padding-bottom: 30px;
}



#container{
	padding-top: 10px;
	padding-bottom: 10px;
	width: 75vw;
	margin-left: auto;
	margin-right: auto;
	background-color: #151515;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#content{
	margin: 20px;
	font-weight: 200;
	word-spacing: 3px;
	line-height: auto;
	padding-bottom: 10px;
}

#content h1{
	line-height: 50px;
}


.nav{
    width: 100%;
	padding: 10px 0;
	background-color: #6563FF;
	text-align: center;
    color: #ffffff;
	border-top: 1px #524fce;
	border-bottom: 1px #524fce;
	padding-bottom: 13px;
}


ol
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: flex;
	justify-content: center;
}


ol a
{
	color: #ffffff;
	text-decoration: none;
	display: block;
}

ol > li:hover{
	color: #000000;
	cursor: pointer;
}

ol > li
{
	float: left;
	height: 40px;
	border-right: 1px dashed lightblue;
	width: 150px;
}

ol > li:first-child
{
	border-left: 1px dashed lightblue;
}

ol > li:hover
{
	background-color: #8583FF;
}

ol > li a:hover{
	color: rgb(0, 25, 58);
}

ol > li > ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 50px;
	padding-top: 5px;
	display: none;

}

ol > li:hover > ul{
	display: block;
}

ol > li > ul > li{
	background-color: #8583FF;
	position: relative;
	z-index: 100;
	border-top: 1px dashed lightblue;
}

ol > li > ul > li:hover{
	background-color: #008b8b;
}

ol > li > ul > li:hover > a{
	color: rgb(0, 25, 58);
}

#footer{
	/* position: fixed;
	bottom: 0;
	right: 0; */
	width: 100%;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #222222;
	word-spacing: 5px;
	font-size: 16px;
}

body{
	display: flex;
	flex-direction: column;
}

#container {
	flex: 1;
  }

.fadeIn {
margin: 10px;
animation: fadeIn 2s ease-in-out;
position: relative;
z-index: 1;
}

@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}